.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
    background-image: url("https://images.unsplash.com/photo-1558929996-da64ba858215?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80");
    background-size: cover;
    background-position: right;
    overflow: hidden;
}
.container:before {
    content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom right,#002f4b,#b96a55);
        opacity: .6; 
  }
h1{
    color: white;
    font-size: 3em;
}

h3{
    color: yellow;
    font-size: 2em;
}

.box, .animated{
    z-index: 2;
}
.box{
    max-width: 40em;
    line-height: 3em;
    padding: 2em 3em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.295);
    border-radius: 0 0 3em 3em;

}

.animated{
    display: flex;
    text-align: center;
    width: 100vw;
    cursor: url('https://cdn-icons-png.flaticon.com/512/556/556151.png'), auto;
}

.animated img{
    animation: perrito 12s linear infinite;
}

.animated img:hover{
    -webkit-animation-play-state: paused
}

@keyframes perrito {
    0% { transform: translateX(-50vh)}
    100% { transform: translateX(200vh)}
  }