h2{
	text-align: center;
	color: bisque;
	margin-top: 1em;
	margin-bottom: 2em;
}
h4{
	color: yellow;
	font-size: 150%;
}
.detail{
    display: flex;
    color: white;
    flex-direction: column;
    gap: .8em;
	transition: all 300ms;
}

.container{
	padding-bottom: 10em;
}

.imageLeft img{
	border-radius: 1em;
	transition: all 300ms;
}

.imageLeft, .imageRight
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 5em;

}

@media (max-width: 400px){

	.imageLeft, .imageRight{
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
		gap: 2em;
	}
	.detail{
		transform: scale(1.2);
		margin-left: 0px;
		background-color: #2e2e2eaf;
		padding: 3em;
		width: 70%;
		text-align: center;
	}
	.imageLeft img{
		transform: scale(.8);
	}
}

@media (min-width: 30em){
	.detail:hover{
		transform: scale(1.1);
		margin-top: 2em;
		background-color: #2e2e2eaf;
		padding: 1em 2em;
		border-radius: 1em;
		margin-top: -1em;
	}
	
	.imageLeft img:hover{
		transform: scale(1.2);
	}

	.imageLeft img, .imageRight img
	{
		flex-shrink: 0;
	}
}
