.cardsFlex {
    padding-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.nextprev{
    display: flex;
    justify-content: center;
    gap: 3em;
    margin-top: 2em;
    padding-bottom: 1em;
}

.nextprev button{
    padding-left: 3em;
    padding-right: 3em;
    padding-top: .8em;
    padding-bottom: .8em;
    border-radius: 10px;
    border: 4px solid #e79b86;
    background-color: #00939c;
    color: white;
    transition: all 300ms;
    font-family: 'Courier New', Courier, monospace;
}

.nextprev button:hover{
    color: white;
    background-color: #e79b86;
}

.contador{
    display: flex;
    justify-content: center;
    margin-top: 1em;
    padding: 1em;
    background-color: #00939c;
    color: aliceblue;
}