.cardClient {
    background: #b96a55;
    width: 13rem;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid #e79b86;
    box-shadow: 0 6px 10px #e79b86;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
  }
  
  .cardClient:hover {
    transform: translateY(-10px);
  }
  
  .userPicture {
    overflow: hidden;
    object-fit: cover;
    width: 6rem;
    height: 6rem;
    border: 4px solid #00939c;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .userPicture svg {
    width: 2.5rem;
    fill: currentColor;
  }
  
  .cardDetail {
    margin: 0;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
  }
  
  .cardDetail span {
    display: block;
    font-weight: 200;
    font-size: 16px;
  }
  
  .cardFooter:before {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background: #e79b86;
  }
  
  .cardFooter a {
    position: relative;
    margin-right: 15px;
    text-decoration: none;
    color: inherit;
  }
  
  .cardFooter a:last-child {
    margin-right: 0;
  }
  
  .cardFooter a svg {
    width: 1.1rem;
    fill: currentColor;
  }
  
  .cardFooter a .tooltip-social:after {
    border-top-color: #262626;
  }
  
  .cardFooter:hover .tooltip-social {
    opacity: 1;
    transform: translate(-50%, -130%);
  }