form{
  text-align: center;
}

p{
  color: white;
}
.preview{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: center;
  z-index: 8;
  pointer-events: none;
}

.temperamentos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.temperamentos li{
  list-style: none;
}

.fieldset {
    margin-top: 2em;
    margin-bottom: 1em;
  }

.left{
  z-index: 2;
}
 
.right{
z-index: 3;
}

.fieldset select{
  width: 25em;
  height: 15em;
  text-align: center;
  border-radius: 0 0 1em 1em;
  scroll-behavior: smooth;
}

.fieldset label{
  color: white;
  display: block;
  font-size: 1rem;
  font-weight: 700;
}
.tempsDisplay{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 5em;
  gap: .3em
}
.tempsDisplay button{
  background-color: burlywood;
  padding: .2em .2em;
  gap: 1em;
  cursor: pointer;
  color: black
}
div button{
  border: 1px solid transparent;
  color: white;
  background-color: #b96a55;
  border: 2px solid white;
  border-radius: .3em;
  box-shadow: none;
  font-size: .8em;
  padding: .5em 5em;
  cursor: pointer;
}
form button{
  border: 1px solid transparent;
  color: white;
  background-color: #00939c;
  border-radius: .3em;
  box-shadow: none;
  font-size: 1em;
  padding: .5em 5em;
  cursor: pointer;
  margin-bottom: 2em;
}
.ranges{
  margin-top: .5em;
  margin-bottom: 1.5em;
  position: relative;
  left: -160px;
}

.ranges input{
  pointer-events: none;
  position: absolute;
  height: .3em;
  outline: none;
  width: 25em;
  
}

.ranges input::-webkit-slider-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.ranges input::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  pointer-events: all;
  position: relative;
}

.fieldset input[type="text"], .fieldset input[type="url"]{
  border: 1px solid transparent;
  background-color: rgb(245, 245, 245);
  border-radius: .3em;
  box-shadow: none;
  font-size: 1em;
  padding: .5em 5em;
}

.fieldset input:focus{
  background-color: white;
}
  
.control p{
  display: inline-flex;
  border-radius: .3em;
  align-items: end;
  font-size: 0.75em;
  margin-top: 0.25em;
  color: white;
  background-color: #b96a55;
  padding: .3em .6em;
}